/************************* WiFi Access Point *********************************/
#define WLAN_SSID              "wifi-ssid"
#define WLAN_PASS              "wifipass"
#define HOSTNAME               "hostname01"

/************************* MQTT Broker *********************************/
#define MQTT_SERVER            "192.168.x.x"
#define MQTT_SERVERPORT        1883 // use 8883 for SSL
#define MQTT_USERNAME          "mqtt-user"
#define MQTT_KEY               "mqtt-pass"
